# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 9</font>

## Download: http://github.com/dsacademybr

## Mini-Projeto 2 - Análise Exploratória em Conjunto de Dados do Kaggle

## Análise 4

In [4]:
# Imports
import os
import subprocess
import stat
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

#Pacote que irá permitir visualizar todas linhas/colunas do dataframe
from IPython.display import display

from datetime import datetime
sns.set(style="white")
%matplotlib inline

In [5]:
# Dataset
clean_data_path = "dataset/autos.csv"
df = pd.read_csv(clean_data_path,encoding="latin-1")

# Calcule a média de preço por marca e por veículo

In [8]:
#configura para visualizar todas as linhas do dataframe
#pd.options.display.max_rows=None

frame = pd.DataFrame({'price':df['price'],
        'brand':df['brand'],
        'type':df['vehicleType']
        })

#defino as chaves de agrupament
key=['brand','type']

#realiza agrupamento calculando a media e definindo a escala com 2 casas decimais
frame.groupby(key, observed=True)['price'].mean().round(2)

#trata a coluna 'price' 
frame['price'].fillna(0,inplace=True)
frame["price"].isnull().value_counts()

#cria um dataframe final com a média de preço por marca e veículo
frame2 = pd.DataFrame(frame.groupby(key)['price'].mean().round(2))
frame2

                          price
brand      type
alfa_romeo Other         669.81
           andere        962.50
           cabrio       7035.73
           coupe        5265.46
           kleinwagen   1867.87
           kombi        3312.97
           limousine    2600.24
           suv             0.00
audi       Other        1012.60
           andere       2685.31
           bus          3485.00
           cabrio       9655.29
           coupe       11242.33
           kleinwagen   2582.21
           kombi        5442.98
           limousine    3829.82
           suv         18644.24
bmw        Other         896.75
           andere       1720.39
           bus          4064.00
           cabrio       8613.78
           coupe        6376.00
           kleinwagen   1575.31
           kombi        5030.38
           limousine    4838.12
           suv         12868.14
chevrolet  Other        1250.14
           andere       3059.59
           bus          5188.01
           cabrio      10590.29
...                         ...
toyota     cabrio       5771.32
           coupe        4894.46
           kleinwagen   2836.47
           kombi        4519.77
           limousine    4170.31
           suv          8890.56
trabant    Other         528.61
           andere       1479.83
           cabrio       5799.49
           coupe        3275.00
           kleinwagen   2013.81
           kombi        1569.23
           limousine    1395.70
           suv         14500.00
volkswagen Other         897.45
           andere       2597.29
           bus          5881.84
           cabrio       5784.50
           coupe        8014.08
           kleinwagen   1626.55
           kombi        3902.51
           limousine    3743.12
           suv         13946.28
volvo      Other         684.58
           cabrio       9463.09
           coupe        5502.10
           kleinwagen   1475.00
           kombi        2789.71
           limousine    3768.01
           suv         14081.24

[333 rows x 1 columns]

Conheça a Formação Cientista de Dados, um programa completo, 100% online e 100% em português, com 340 horas, mais de 1.200 aulas em vídeos e 26 projetos, que vão ajudá-lo a se tornar um dos profissionais mais cobiçados do mercado de análise de dados. Clique no link abaixo, faça sua inscrição, comece hoje mesmo e aumente sua empregabilidade:

https://www.datascienceacademy.com.br/pages/formacao-cientista-de-dados

# Fim

### Obrigado - Data Science Academy - <a href="http://facebook.com/dsacademybr">facebook.com/dsacademybr</a>